// Card resto

.flex-order {
  .resto-card {
    width: 90%;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
      width: 500px;
    }


    .flex-cards {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 251px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 20px;

      @media screen and (min-width: 1200px) {
        height: 350px;
      }
  
  
      img {
          object-fit: cover;
          height: 70%;
          width: 100%;
          border-radius: 15px 15px 0px 0px;

          @media screen and (min-width: 1200px) {
            height: 80%;
          }
      }
  
      .resto-flex {
          display: flex;
          flex-direction: row;
          padding-left: 13px;
          padding-top: 16px;
          justify-content: space-between;
          align-items: center;
  
          .card-title h3 {
              font-weight: bold;
              font-size: 18px;
              padding-bottom: 5px;
          }
      }
  
      .new {
        position: absolute;
        border: 0.1px;
        padding: 7px 9px;
        top: 7px;
        right: 10px;
        background: #99E2D0;
        color: #008766;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
      }
  }

  .checkbox-hidden {
    display: none;
  }
  
  .fa-heart {
    transform: scale(1.7);
    position: absolute;
    bottom: 53px;
    right: 20px;
    transition: all 0.3s ease;
  }

  .fa-heart:hover {
    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
    filter: brightness(130%);
  }
  
  #button1:checked ~ .heart-before1 {
    display: none;
  }
  
  #button1:checked ~ .heart-after1 {
    display: inline-block;
    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  #button1:not(:checked) ~ .heart-before1 {
    display: inline-block;
  }
  
  #button1:not(:checked) ~ .heart-after1 {
    display: none;
  }  
  
  #button2:checked ~ .heart-before2 {
    display: none;
  }
  
  #button2:checked ~ .heart-after2 {
    display: inline-block;
    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  #button2:not(:checked) ~ .heart-before2 {
    display: inline-block;
  }
  
  #button2:not(:checked) ~ .heart-after2 {
    display: none;
  }

  #button3:checked ~ .heart-before3 {
    display: none;
  }
  
  #button3:checked ~ .heart-after3 {
    display: inline-block;
    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  #button3:not(:checked) ~ .heart-before3 {
    display: inline-block;
  }
  
  #button3:not(:checked) ~ .heart-after3 {
    display: none;
  }

  #button4:checked ~ .heart-before4 {
    display: none;
  }
  
  #button4:checked ~ .heart-after4 {
    display: inline-block;
    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  #button4:not(:checked) ~ .heart-before4 {
    display: inline-block;
  }
  
  #button4:not(:checked) ~ .heart-after4 {
    display: none;
  }

  label {
    cursor: pointer;
  }
  }
}