* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
header a img {
  padding-top: 18px;
  width: 162px;
  height: auto;
}
header a i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  position: absolute;
  top: 25px;
  left: 40px;
}

footer {
  height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 22px;
  padding-bottom: 22px;
  gap: 16px;
  background-color: #353535;
  margin-top: auto;
}
@media screen and (min-width: 1200px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 60px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 20px;
  }
}
footer div .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer div .footer-text {
    padding-left: 0;
  }
}
footer div .footer-text p {
  padding-left: 16px;
  padding-top: 7px;
  color: white;
}
footer div .footer-text i {
  width: 11px;
  height: 13px;
  color: white;
}
footer div .footer-text2 {
  padding-top: 7px;
  color: white;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer div .footer-text2 {
    margin-right: 20px;
    padding-left: 0;
  }
}
footer div .footer-text2 a {
  color: white;
}
@media screen and (min-width: 1200px) {
  footer div .footer-resp {
    margin-right: 40px;
  }
}
footer img {
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer img {
    padding-left: 0;
  }
}

.function {
  background-color: white;
  height: 440px;
}
@media screen and (min-width: 1200px) {
  .function {
    height: 228px;
  }
}
.function h1 {
  padding-top: 48px;
  margin-bottom: 26px;
  margin-left: 4%;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .function h1 {
    margin-left: 5%;
  }
}
.function .flex-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .function .flex-function {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
.function .flex-function .function-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 322px;
  z-index: 2;
}
.function .flex-function .function-1 .function-1-p {
  position: absolute;
  top: 26.5px;
  left: -12px;
  font-size: 14px;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border: 0.5px;
  border-radius: 50%;
}
.function .flex-function .function-1 .function-1-p p {
  position: absolute;
  top: 5px;
  left: 8px;
  color: white;
  text-align: center;
}
.function .flex-function .function-1 .function-1-text {
  z-index: -1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F7F7;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 322px;
  height: 72px;
  margin-bottom: 25px;
}
.function .flex-function .function-1 .function-1-text .function-icon-gray {
  color: gray;
  position: absolute;
  top: 27.5px;
  left: 33.5px;
}
.function .flex-function .function-1 .function-1-text .function-store {
  color: #9356DC;
  position: absolute;
  top: 27.5px;
  left: 33.5px;
}

.flex-order .resto-card {
  width: 90%;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .flex-order .resto-card {
    width: 500px;
  }
}
.flex-order .resto-card .flex-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 251px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .flex-order .resto-card .flex-cards {
    height: 350px;
  }
}
.flex-order .resto-card .flex-cards img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
@media screen and (min-width: 1200px) {
  .flex-order .resto-card .flex-cards img {
    height: 80%;
  }
}
.flex-order .resto-card .flex-cards .resto-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 13px;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-order .resto-card .flex-cards .resto-flex .card-title h3 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}
.flex-order .resto-card .flex-cards .new {
  position: absolute;
  border: 0.1px;
  padding: 7px 9px;
  top: 7px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.flex-order .resto-card .checkbox-hidden {
  display: none;
}
.flex-order .resto-card .fa-heart {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  position: absolute;
  bottom: 53px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flex-order .resto-card .fa-heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}
.flex-order .resto-card #button1:checked ~ .heart-before1 {
  display: none;
}
.flex-order .resto-card #button1:checked ~ .heart-after1 {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.flex-order .resto-card #button1:not(:checked) ~ .heart-before1 {
  display: inline-block;
}
.flex-order .resto-card #button1:not(:checked) ~ .heart-after1 {
  display: none;
}
.flex-order .resto-card #button2:checked ~ .heart-before2 {
  display: none;
}
.flex-order .resto-card #button2:checked ~ .heart-after2 {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.flex-order .resto-card #button2:not(:checked) ~ .heart-before2 {
  display: inline-block;
}
.flex-order .resto-card #button2:not(:checked) ~ .heart-after2 {
  display: none;
}
.flex-order .resto-card #button3:checked ~ .heart-before3 {
  display: none;
}
.flex-order .resto-card #button3:checked ~ .heart-after3 {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.flex-order .resto-card #button3:not(:checked) ~ .heart-before3 {
  display: inline-block;
}
.flex-order .resto-card #button3:not(:checked) ~ .heart-after3 {
  display: none;
}
.flex-order .resto-card #button4:checked ~ .heart-before4 {
  display: none;
}
.flex-order .resto-card #button4:checked ~ .heart-after4 {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.flex-order .resto-card #button4:not(:checked) ~ .heart-before4 {
  display: inline-block;
}
.flex-order .resto-card #button4:not(:checked) ~ .heart-after4 {
  display: none;
}
.flex-order .resto-card label {
  cursor: pointer;
}

.head-image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .head-image {
    height: 400px;
  }
}
.head-image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .head-image img {
    height: 400px;
  }
}

.menu {
  position: relative;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu .flex-menu-card:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu .flex-menu-card:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu .flex-menu-card:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.menu .flex-menu-card:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.menu .title-menu {
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 28px;
  padding-top: 32px;
  padding-left: 17px;
}
@media screen and (min-width: 1200px) {
  .menu .title-menu {
    text-align: center;
  }
}
.menu .like {
  position: absolute;
  top: 105px;
  right: 18px;
}
@media screen and (min-width: 1200px) {
  .menu .like {
    right: 30%;
  }
}
.menu .like .checkbox-hidden {
  display: none;
}
.menu .like .fa-heart {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  position: absolute;
  bottom: 53px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu .like .fa-heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu .like #button1:checked ~ .heart-before1 {
  display: none;
}
.menu .like #button1:checked ~ .heart-after1 {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.menu .like #button1:not(:checked) ~ .heart-before1 {
  display: inline-block;
}
.menu .like #button1:not(:checked) ~ .heart-after1 {
  display: none;
}
.menu .starter {
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 42px;
}
@media screen and (min-width: 1200px) {
  .menu .starter {
    padding-left: 20%;
  }
}
.menu .border {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 1200px) {
  .menu .border {
    margin-left: 20%;
  }
}
.menu .button-command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  width: 186px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .button-command .command-text {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  text-align: center;
  color: white;
}
.menu .button-command:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.flex-menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-menu-card .menu-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 69px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .flex-menu-card .menu-card {
    width: 60%;
  }
}
.flex-menu-card .menu-card .name-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 6px;
  padding-left: 15px;
  overflow: hidden;
}
.flex-menu-card .menu-card .name-flex .plate-name {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.flex-menu-card .menu-card .name-flex .plate-description {
  font-size: 15.0431px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.flex-menu-card .menu-card .price {
  position: absolute;
  right: 16px;
  bottom: 15px;
  font-weight: 700;
  font-size: 15.0431px;
  -webkit-transition: right 0.25s cubic-bezier(0.06, 0.47, 1, 1);
  transition: right 0.25s cubic-bezier(0.06, 0.47, 1, 1);
}

.menu-card .icon-check {
  position: absolute;
  right: 12px;
  top: 14px;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  padding: 12px 9.5px 11.5px;
  display: none;
  color: white;
  background: #99E2D0;
  -webkit-animation: fadeofffromright 0.25s linear;
          animation: fadeofffromright 0.25s linear;
  z-index: 2;
}
.menu-card .name-flex {
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}
.menu-card .icon-check1 {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  padding: 12px 9.5px 11.5px;
  display: inline-block;
  color: white;
  background: #99E2D0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-card .menu-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu-card:hover .icon-check {
  display: inline-block;
  width: auto;
  -webkit-animation: fadeinfromright 0.25s linear;
          animation: fadeinfromright 0.25s linear;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.menu-card:hover .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-card:hover .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

@-webkit-keyframes fadeinfromright {
  0% {
    -webkit-transform: translateX(100%) scale(1.7);
            transform: translateX(100%) scale(1.7);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.7);
            transform: translateX(0%) scale(1.7);
  }
}

@keyframes fadeinfromright {
  0% {
    -webkit-transform: translateX(100%) scale(1.7);
            transform: translateX(100%) scale(1.7);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.7);
            transform: translateX(0%) scale(1.7);
  }
}
@-webkit-keyframes fadeofffromright {
  0% {
    -webkit-transform: translateX(0%) scale(1.7);
            transform: translateX(0%) scale(1.7);
  }
  100% {
    -webkit-transform: translateX(100%) scale(1.7);
            transform: translateX(100%) scale(1.7);
  }
}
@keyframes fadeofffromright {
  0% {
    -webkit-transform: translateX(0%) scale(1.7);
            transform: translateX(0%) scale(1.7);
  }
  100% {
    -webkit-transform: translateX(100%) scale(1.7);
            transform: translateX(100%) scale(1.7);
  }
}
#check-plate {
  display: none;
}

#check-plate:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate1 {
  display: none;
}

#check-plate1:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate1:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate1:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate1:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate1:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate2 {
  display: none;
}

#check-plate2:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate2:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate2:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate2:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate2:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate3 {
  display: none;
}

#check-plate3:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate3:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate3:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate3:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate3:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate4 {
  display: none;
}

#check-plate4:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate4:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate4:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate4:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate4:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate5 {
  display: none;
}

#check-plate5:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate5:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate5:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate5:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate5:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate6 {
  display: none;
}

#check-plate6:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate6:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate6:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate6:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate6:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate7 {
  display: none;
}

#check-plate7:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate7:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate7:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate7:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate7:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate8 {
  display: none;
}

#check-plate8:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate8:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate8:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate8:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate8:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

#check-plate9 {
  display: none;
}

#check-plate9:not(:checked) ~ .icon-check1 {
  display: none;
  opacity: 0;
}

#check-plate9:checked ~ .icon-check1 {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

#check-plate9:checked ~ .price {
  right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#check-plate9:checked ~ .menu-card:hover .icon-check {
  z-index: 1;
}

#check-plate9:checked ~ .name-flex {
  margin-right: 100px;
  -webkit-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease;
}

.html-p {
  height: auto;
}
.html-p body {
  width: 100%;
  height: auto;
}
.html-p body main {
  position: relative;
  height: 1352px;
}
@media screen and (min-width: 1200px) {
  .html-p body main {
    background-color: white;
    height: 1477px;
  }
}
.html-p body .footer-palette {
  width: 100%;
  margin-top: auto;
}

.html-p2 {
  height: auto;
}
.html-p2 body {
  width: 100%;
  height: auto;
}
.html-p2 body main {
  position: relative;
  height: 1433px;
}
@media screen and (min-width: 1200px) {
  .html-p2 body main {
    background-color: white;
    height: 1558px;
  }
}
.html-p2 body .footer-palette {
  width: 100%;
  margin-top: auto;
}

html {
  height: auto;
}
html body {
  height: auto;
}
html body main {
  height: auto;
  background-color: #F7F7F7;
}
html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html body .flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EAEAEA;
  height: 50px;
  width: 100%;
}
html body .flex div h1 {
  padding-left: 17px;
}
html body .flex .booking {
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body .flex .booking h2 {
  padding-top: 39.5px;
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  height: 68px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  html body .flex .booking h2 {
    font-weight: 700;
    font-size: 40px;
  }
}
html body .flex .booking .booking-p {
  margin: 0px 20px 27px;
  text-align: center;
  font-size: 18px;
}
html body .flex .booking a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  margin-bottom: 55px;
  text-decoration: none;
  height: 50px;
  width: 218px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1200px) {
  html body .flex .booking a {
    margin-bottom: 30px;
  }
}
html body .flex .booking a p {
  color: white;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  padding-left: 18px;
  padding-right: 18px;
}
html body .flex .booking a:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}
html body .restaurants h2 {
  font-weight: bold;
  font-size: 24px;
  padding-top: 54px;
  padding-left: 4%;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  html body .restaurants h2 {
    padding-left: 5%;
  }
}
html body .restaurants .flex-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  html body .restaurants .flex-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}