footer {
    height: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 22px;
    padding-bottom: 22px;
    gap: 16px;
    background-color: #353535;
    margin-top: auto;

    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
        height: 60px;
        align-items: flex-end;
        padding-bottom: 50px;
    }


    div {
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            margin-right: 20px;
        }


        .footer-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 25px;

            @media screen and (min-width: 1200px) {
                padding-left: 0;
            }
            

            p {
                padding-left: 16px;
                padding-top: 7px;
                color: white;
            }

            i {
                width: 11px;
                height: 13px;
                color: white;
            }
        }

        .footer-text2 {
            padding-top: 7px;
            color: white;
            padding-left: 25px;

            @media screen and (min-width: 1200px) {
                margin-right: 20px;
                padding-left: 0;
            }
        }

        .footer-resp {
            @media screen and (min-width: 1200px) {
                margin-right: 40px;
            }
        }
    }

    img {
        padding-left: 25px;

        @media screen and (min-width: 1200px) {
            padding-left: 0;
        }
    }
}