html {
    height: auto;

    body {
        height: auto;

        main {
            height: auto;
            background-color: $gray;

            .loader {
                position: absolute;
                width: 100vw;
                height: 100vh;
                opacity: 0.8;
                z-index: 3;
                background-color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 120px;
                animation-name: loader-out;
                animation-duration: 3s;
                animation-fill-mode: forwards;

                .point {
                    animation: loader-point 1.2s linear infinite;
                    transform: scale(6);
                    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }

                .point:nth-child(1) {
                    animation-delay: 0.1s;
                }

                .point:nth-child(2) {
                    animation-delay: 0.2s;
                }

                .point:nth-child(3) {
                    animation-delay: 0.3s;
                }
            }
        }

        @keyframes loader-point {
            0% {
                background: gray;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }

            50% {
                background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }

            100% {
                background: gray;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }
        }

        @keyframes loader-out {
            0% {
                opacity: 0.8;
            }

            80% {
                opacity: 0.8;
            }

            99% {
                z-index: 4;
            }

            100% {
                opacity: 0;
                display: none;
                z-index: -2;
            }
        }
        
        .flex {
            display: flex;
            flex-direction: column;
        
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $dark-gray;
                height: 50px;
                width: 100%;
        
                h1 {
                    padding-left: 17px;
                }
            }
        
            .booking {
                background: $gray;
                display: flex;
                flex-direction: column;
                align-items: center;
        
                h2 {
                    padding-top: 39.5px;
                    font-size: 24px;
                    margin-left: 50px;
                    margin-right: 50px;
                    text-align: center;
                    height: 68px;
                    font-weight: bold;
        
                    @media screen and (min-width: 1200px) {
                        font-weight: 700;
                        font-size: 40px;
                    }
                }
        
                .booking-p {
                    margin: 0px 20px 27px;
                    text-align: center;
                    font-size: 18px;
                }
        
                a {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 25px;
                    transform: matrix(1, 0, 0, -1, 0, 0);
                    margin-bottom: 55px;
                    text-decoration: none;
                    height: 50px;
                    width: 218px;
                    justify-content: center;
                    transition: 0.3s;
        
                    @media screen and (min-width: 1200px) {
                         margin-bottom: 30px;
                    }
        
                    p {
                        color: white;
                        transform: matrix(1, 0, 0, -1, 0, 0);
                        padding-left: 18px;
                        padding-right: 18px;
                    }
                }
        
                a:hover {
                    filter: brightness(130%);
                }
            }
        }
        
        .restaurants {
            
        
            h2 {
            font-weight: bold;
            font-size: 24px;
            padding-top: 54px;
            padding-left: 4%;
            padding-bottom: 24px;
        
            @media screen and (min-width: 1200px) {
                padding-left: 5%;
            }
            }
        
            .flex-order {
                display: flex;
                flex-direction: column;
                align-items: center;
        
                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 80px;
                    padding-bottom: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                  }
            }
        }
    }
}