.html-p {
    height: auto;

    body {
        width: 100%;
        height: auto;

        main {
            position: relative;
            height: 1352px;

            @media screen and (min-width: 1200px) {
                background-color: white;
                height: 1477px;
            }
        }

        .footer-palette {
            width: 100%;
            margin-top: auto;
        }
    }
}