html {
    height: auto;

    body {
        width: 100%;
        height: auto;

        main {
            position: relative;
            height: auto;
        }

        .footer-palette {
            width: 100%;
            margin-top: auto;
        }
    }
    
}